@model IEnumerable<ERPBO.Production.ViewModels.RequsitionInfoViewModel>
@{
    ViewBag.Title = "List of Requisition Information";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h4><b style="color:darkblue">Product Requsition Info</b></h4>
        <hr />
    </div>
    <div class="col-md-12 mb-2">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-3">
                <label for="txtReqCode" class="control-label font-weight-bold">Requsition Code</label>
                <input type="text" name="search" id="txtReqCode" class="form-control form-control-sm" placeholder="Search By Requsition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
            </div>
            <div class="col-md-3">
                <label for="ddlWarehouseName" class="control-label font-weight-bold">Warehouse Name</label>
                @Html.DropDownList("ddlWarehouseName", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouse, "--Select Warehouse--", new { @class = "form-control form-control-sm ctrl-changed" })
                <span class="error hide required-warehouseName font-weight-bold">Required Warehouse Name!</span>
            </div>
            <div class="col-md-3">
                <label for="ddlStateStatus" class="control-label font-weight-bold">StateStatus</label>
                @Html.DropDownList("ddlStateStatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm ctrl-changed" })
            </div>
            <div class="col-md-3">
                <label for="ddlLineNumber" class="control-label font-weight-bold">Line Number</label>
                @Html.DropDownList("ddlLineNumber", (IEnumerable<SelectListItem>)ViewBag.ddlLineNumber, "--Select LineNumber--", new { @class = "form-control form-control-sm ctrl-changed" })
                <span class="error hide required-lineNumber font-weight-bold">Required Line Number!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label font-weight-bold">From Date</label>
                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
            </div>
            <div class="col-md-3">
                <label class="control-label font-weight-bold">To Date</label>
                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
            </div>
            <div class="offset-3 col-md-3">
                <label class="control-label font-weight-bold" style="visibility:hidden">Add New</label>
                <br />
                <a href="/Production/CreateRequsition" style="background-color:darkblue" class="btn btn-primary btn-sm float-right" id="btnAddNew"><i class="fa fa-plus"></i> Create New Requisition</a>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="dataContainer1">
        @{Html.RenderAction("GetReqInfoParitalList");}
    </div>
    <div class="modal fade" id="modalReqDetails" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header alert-primary">
                    <input type="hidden" id="hdfReqInfoId" />
                    <input type="hidden" id="hdfRowIndex" />
                    <h4 id="modalHeading" class="modal-title">Requisition Item Details</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="dataContainer">

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">

        var txtReqCode = $("#txtReqCode");
        var ddlWarehouseName = $("#ddlWarehouseName");
        var ddlStateStatus = $("#ddlStateStatus");
        var ddlLineNumber = $("#ddlLineNumber");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var hdfReqInfoId = $("#hdfReqInfoId");
        var hdfRowIndex = $("#hdfRowIndex");

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy"
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy"
            });
        })

        txtReqCode.keyup(function ()
        {
            LoadDataTable();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTable();
        })

        function LoadDataTable()
        {
            var data = { reqCode: txtReqCode.val().trim(), warehouseId: TryParseInt(ddlWarehouseName.val(), 0), status: ddlStateStatus.val(), line: TryParseInt(ddlLineNumber.val(), 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/Production/GetReqInfoParitalList', data)).then(function (res, status)
            {
                if (status == "success")
                {
                    $("#dataContainer1").empty();
                    $("#dataContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
            console.log(data);
        }

        function OpenModal() {
            $("#dataContainer").empty();
            hdfReqInfoId.val('0');
            hdfRowIndex.val("");
            $("#modalReqDetails").modal("show");
        }

        $(document).on("click", "a.data-details", function (e) {
            e.preventDefault();
            OpenModal();
            var data = {
                reqId: TryParseInt($(this).attr("data-details"), 0)
            };
            var idx = $(this).parent().parents('tr').index();
            $.when(getReqWithData('html', 'GET', '/Production/GetRequsitionDetails', data)).then(function (res, status) {
                if (status == "success") {
                    OpenModal();
                    hdfReqInfoId.val(data.reqId);
                    hdfRowIndex.val(idx)
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
        })

        $(document).on('click', ".btnAccept", function (e) {
            e.preventDefault();
            fnRequisitionStateChange(hdfReqInfoId.val(), hdfRowIndex.val(), reqStatus.accepted);
        })

        $(document).on('click', ".btnRecheck", function (e) {
            e.preventDefault();
            fnRequisitionStateChange(hdfReqInfoId.val(), hdfRowIndex.val(), reqStatus.pending);
        })

        function fnRequisitionStateChange(id, index, status) {
            if (id > 0) {
                var data = JSON.stringify({ reqId: id, status: status });
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Production/SaveRequisitionStatus', data, getToken())).then(function (res, status) {
                    if (status == "success" && res === true) {
                        alert("Requisition State has been changed successfully");
                        $("#modalReqDetails").modal("toggle").toggle("fast");
                        hdfReqInfoId.val('0');
                        hdfRowIndex.val("");
                        removeTableRow("#tblReqInfoData tbody", index);
                        setTimeout(function () {
                            LoadDataTable();
                        }, 1500);
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }
        }

    </script>
}